html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h2, h3, label, p {
    color: antiquewhite;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background: none;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    width: 100%
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

button:active {
    color: #FFFFFF;
    background-color: red;
    border-color: red;
}

button:disabled {
    color: lightgray;
    background-color: grey;
    border-color: grey;
}

@media all and (max-width: 30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}

.start-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkslategrey;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#mode-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mode-wrapper {
    display: flex;
    flex-direction: column;
}

#mode-wrapper > * {
    margin-top: 10pt;
}

#enter-receiver-id > * {
    margin-top: 10pt;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 400pt;
}

.receive-top-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.receive-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receive-wrapper > * {
    margin-top: 10pt;
}

.id-wrapper {
    align-self: baseline;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
